extends layout



block content

  h1= title

 

  div(class = "container-fluid")

    div(class = "row")

     each form,index in results

        div(class="col-sm-4" onclick=`buy(${index})`) fruit: #{form.fruit_type}

        br

        br

        div(class="col-sm-4" onclick=`buy(${index})`) price: #{form.quantity}

        br

        br  

        div(class="col-sm-4" onclick=`buy(${index})`) toppings: #{form.cost}

        script.

                function buy(itemNo){

                    alert(`You purchased items ${itemNo+1}`)

                }